<a href="{{url}}" target="_blank">
  <img class="media-object pull-left" src="http://placehold.it/42x42">
  <div class="media-body">
    {{name}}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p>
  </div>
</a>
